@import url(http://fonts.googleapis.com/css?family=Raleway:200);
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html, body {
	height: 100%;
	font-size: 1.2rem;
}

p {
	margin-bottom: 0.5em;
	margin-top: 0;
}

h1 {
	margin-bottom: 0;
}

h1, p {
	color: white;
	font-family: 'Roboto', Helvetica, sans-serif;
	font-weight: 100;
}


#wrapper {
	min-height: 100%;
	background-image: url('../images/business-walk.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position: center;
}

#main {
	overflow:auto;
	padding-bottom: 3em; /* must be same height as the footer */
}

#logo-container img {
	display: block;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;

	color: white;
	background-color: rgba(69, 59, 55, 0.9);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

#description {
	padding: 20px;
	/*background-color: rgba(230, 230, 230, 0.3);*/
	border-right: 2px solid rgba(220, 220, 220, 0.2);
}

#about {
	font-size: 24px;
}

#short-description {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	font-weight: 100;
}

#coming-soon {
	margin-top: 1rem;
	font-size: 1rem;
}

#social-media {
	font-size: 1rem;
	padding: 20px;
	padding-bottom: 40px;
	margin-bottom: 0;
}

#social-media p{
	margin-bottom: 5px;
}

.email {
	color: white;
	text-decoration: none;
}

.email:hover {
	color: white;
	text-decoration: underline;
}

.center {
	text-align: center;
}

#container {
    text-align: left;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    zoom: 1;
}


footer {
	position: relative;
	margin-top: -3em; /* negative value of footer height */
	height: 3em;
	clear: both;

	color: #ddd;
	background-color: #333;
	text-align: center;
	font-size: 14px;
}

/*Opera Fix for sticky footer*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/* Overrides */
.btn {
	background-color: #007950;
	font-size: 1.1rem;
	line-height: 1.5rem;
	height: 1.5rem;
	box-sizing: content-box;
	margin-bottom: 1rem;
}