@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html, body {
	height: 100%;
	font-size: 1.1rem;
}

#wrapper {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 2em; /* must be same height as the footer */
}

#logo-container img {
	display: block;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;

	color: white;
	background-color: rgba(69, 59, 55, 0.8);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

#description {
	color: #555;

	padding: 20px;
	background-color: rgb(230, 230, 230);
}

#short-description {
	color: #333;
	font-family: 'Roboto', Helvetica, sans-serif;
}

#social-media {
	padding: 20px;
}

.center {
	text-align: center;
}

#container {
    text-align: left;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    zoom: 1;
}


footer {
	position: relative;
	margin-top: -2em; /* negative value of footer height */
	height: 2em;
	clear: both;

	background-color: #ddd;
	text-align: center;
	font-size: 14px;
}

/*Opera Fix for sticky footer*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/* Overrides */
.btn {
	background-color: #007950;
}